* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  background: radial-gradient(circle, white 0%, #e2e2e2 110%);
  font-family: "Montserrat", sans-serif; }

main {
  width: 98%;
  margin: 0 auto;
  display: flex;
  flex-direction: column; }

a {
  text-decoration: none; }

p, h1 {
  color: white; }

:root {
  --primary-color: #2a5390;
  --prueba1: #173c74;
  --prueba2: #173e79;
  --prueba3: #204680; }

.navbar-fondo, .navbar-fondo2 {
  width: 100%;
  height: 100%;
  background-image: url(../assets/images/Nav-Fondo.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: flex-end;
  align-items: center; }

nav {
  width: 98%;
  height: 13vh;
  margin: 0 auto;
  display: flex;
  justify-content: space-between; }
  nav .logo {
    width: 70px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }
    nav .logo img {
      width: 60px; }
  nav .navbar {
    width: 60vw;
    height: 100%; }

.navbar-fondo ul, .navbar-fondo2 ul {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
  grid-auto-rows: 20px;
  gap: 5px; }
  .navbar-fondo ul li, .navbar-fondo2 ul li {
    display: inline-block;
    text-align: center; }
    .navbar-fondo ul li a, .navbar-fondo2 ul li a {
      font-size: 16px;
      color: white;
      padding: 1px; }
      .navbar-fondo ul li a:hover, .navbar-fondo2 ul li a:hover {
        border-bottom: 1px solid white; }

.navbar-fondo, .navbar-fondo2 {
  width: 100%;
  height: 100%;
  background-image: url(../assets/images/Nav-Fondo.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: flex-end;
  align-items: center; }

.navbar-fondo2 {
  justify-content: center;
  gap: 20%; }
  .navbar-fondo2 .Nav-buscador {
    width: 250px;
    height: 35px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px; }
    .navbar-fondo2 .Nav-buscador img {
      width: 20px;
      margin-right: 10px; }
    .navbar-fondo2 .Nav-buscador form input[type="text"] {
      width: 190px;
      border: 0;
      border-bottom: 1px solid var(--primary-color); }
  .navbar-fondo2 .Nav-botones {
    width: 10%;
    display: flex;
    justify-content: center;
    gap: 40px;
    list-style: none; }
    .navbar-fondo2 .Nav-botones img {
      width: 40px; }

.banner-contenedor {
  width: 100%;
  height: 87vh;
  display: flex;
  position: relative;
  margin: 20px 0 20px 0; }
  .banner-contenedor .banner-imagen {
    width: 50%;
    height: 100%;
    background-image: url(../assets/images/p1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
  .banner-contenedor .banner-figura {
    width: 70%;
    height: 100%;
    position: absolute;
    right: 0;
    z-index: 1000; }
    .banner-contenedor .banner-figura .banner-info {
      width: 100%;
      height: 100%;
      background-image: url(../assets/images/asd2.png);
      background-position: initial;
      background-repeat: no-repeat;
      background-size: cover;
      display: grid;
      grid-template-columns: repeat(8, 1fr);
      grid-template-rows: repeat(8, 1fr); }
      .banner-contenedor .banner-figura .banner-info article {
        grid-column: 4 / 8;
        grid-row: 2 / 8;
        text-align: center; }
        .banner-contenedor .banner-figura .banner-info article p, .banner-contenedor .banner-figura .banner-info article h1 {
          font-size: 40px;
          font-weight: 500;
          text-align: center; }
        .banner-contenedor .banner-figura .banner-info article .banner-informacion {
          margin-top: 20px;
          font-size: 22px; }
        .banner-contenedor .banner-figura .banner-info article .Banner-boton {
          width: 100%;
          margin-top: 30px;
          display: flex;
          justify-content: center; }
          .banner-contenedor .banner-figura .banner-info article .Banner-boton button {
            padding: 15px 70px;
            border: 0px;
            background-color: white;
            border-radius: 15px;
            box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.336); }
            .banner-contenedor .banner-figura .banner-info article .Banner-boton button a {
              font-size: 30px;
              font-weight: bold;
              color: var(--primary-color); }
            .banner-contenedor .banner-figura .banner-info article .Banner-boton button:hover {
              scale: 1.1; }

.QuienesSomos {
  width: 97%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  margin-bottom: 20px; }
  .QuienesSomos article {
    width: 70%;
    font-size: 20px;
    font-weight: 500; }
    .QuienesSomos article ul li p {
      color: black; }

.contenedor-inicio {
  width: 90%;
  margin: 25px auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 20px; }

.tarjeta {
  background-color: white;
  border-radius: 15px;
  box-shadow: 5px 5px 13px rgba(0, 0, 0, 0.507); }

.tarjeta-infoUsuario {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  gap: 15px;
  padding-left: 15px; }
  .tarjeta-infoUsuario .tarjeta-fotoUsuario {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden; }
    .tarjeta-infoUsuario .tarjeta-fotoUsuario img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .tarjeta-infoUsuario div {
    display: inline-block; }

.tarjeta-mascota {
  width: 100%;
  height: 320px;
  overflow: hidden; }
  .tarjeta-mascota img {
    width: 100%; }

.tarjeta-infoMascota {
  width: 90%;
  margin: 0 auto;
  padding: 10px 0 5px;
  font-size: 14px;
  color: black; }

.tarjeta-botonera {
  width: 90%;
  height: 60px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px; }
  .tarjeta-botonera img {
    width: 35px; }

.nombre {
  font-weight: 600;
  color: var(--primary-color) !important; }

.Lugar {
  font-weight: 400;
  font-size: 13px;
  color: grey !important; }

.barra {
  border-bottom: 2px solid lightgray; }

.contenedor-inicioVista {
  width: 80%;
  margin: 25px auto; }
  .contenedor-inicioVista .tarjeta .titulo {
    width: 80%;
    height: 30vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end; }
    .contenedor-inicioVista .tarjeta .titulo p {
      font-size: 60px;
      font-weight: bold;
      color: var(--primary-color); }
    .contenedor-inicioVista .tarjeta .titulo div {
      width: 500px;
      height: 60px;
      background-image: url(../../assets/images/barra-titulo.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      display: flex;
      justify-content: center;
      align-items: center; }
      .contenedor-inicioVista .tarjeta .titulo div p {
        font-size: 50px;
        color: white; }
  .contenedor-inicioVista .tarjeta .contenedor-informacion {
    width: 90%;
    display: flex;
    margin: 0 auto;
    flex-direction: row; }
    .contenedor-inicioVista .tarjeta .contenedor-informacion .cont-img, .contenedor-inicioVista .tarjeta .contenedor-informacion .informacion-mascota {
      flex: 1;
      padding: 15px;
      box-sizing: border-box; }
    .contenedor-inicioVista .tarjeta .contenedor-informacion .cont-img {
      display: flex;
      align-items: center;
      justify-content: center; }
      .contenedor-inicioVista .tarjeta .contenedor-informacion .cont-img div {
        width: 100%;
        max-width: 300px;
        border-radius: 15px;
        position: relative;
        overflow: hidden; }
        .contenedor-inicioVista .tarjeta .contenedor-informacion .cont-img div img {
          width: 100%;
          max-width: 300px;
          aspect-ratio: 1 / 1;
          object-fit: cover; }
    .contenedor-inicioVista .tarjeta .contenedor-informacion .informacion-mascota p {
      color: var(--primary-color);
      font-weight: bolder;
      margin-top: 5px; }
    .contenedor-inicioVista .tarjeta .contenedor-informacion .informacion-mascota article, .contenedor-inicioVista .tarjeta .contenedor-informacion .informacion-mascota i {
      color: black;
      font-weight: 600; }
    .contenedor-inicioVista .tarjeta .contenedor-informacion .informacion-mascota article {
      width: 90%;
      padding-top: 20px; }
    .contenedor-inicioVista .tarjeta .contenedor-informacion .informacion-mascota div {
      width: 60%;
      margin: 0 auto;
      height: 70px;
      padding-top: 25px;
      display: flex;
      justify-content: center;
      align-items: center; }
      .contenedor-inicioVista .tarjeta .contenedor-informacion .informacion-mascota div button {
        padding: 15px 60px;
        border-radius: 50px; }
        .contenedor-inicioVista .tarjeta .contenedor-informacion .informacion-mascota div button a {
          font-weight: 600;
          font-size: 20px; }

.btn {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  padding: 10px; }
  .btn button {
    padding: 15px 30px !important;
    border-radius: 20px; }
    .btn button:hover {
      scale: 1.1; }

.navegacion {
  width: 35%;
  height: 50px;
  background-color: var(--primary-color);
  position: fixed;
  z-index: 1000;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 7px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 15px; }
  .navegacion div {
    width: 40px;
    height: 40px;
    text-align: center; }
    .navegacion div a img {
      width: 35px; }

.Seleccionado {
  border-bottom: 2px solid white; }

.contenedor-refugios {
  width: 80%;
  margin: 25px auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 20px; }
  .contenedor-refugios .tarjetas {
    background-color: white;
    flex: 1 1 calc(50% - 20px);
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    box-sizing: border-box; }

.tarjeta-mascotas {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 0 auto;
  padding: 5px 0 12px 0; }
  .tarjeta-mascotas img {
    width: calc(33.33% - 10px);
    border-radius: 4px;
    object-fit: cover; }

.tarjeta-publicaciones {
  width: 90%;
  max-width: 1100px;
  margin: 40px auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-auto-rows: 280px;
  gap: 20px; }
  .tarjeta-publicaciones div {
    overflow: hidden; }
    .tarjeta-publicaciones div img {
      width: 100%; }

footer {
  width: 98%;
  height: 25vh;
  background-color: var(--primary-color);
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-content: center;
  align-items: center;
  position: sticky;
  z-index: 1000; }
  footer .Redes {
    width: 250px;
    grid-column: 1 / 3;
    display: flex; }
    footer .Redes .Redes-iconos {
      display: flex;
      flex-direction: column; }
      footer .Redes .Redes-iconos img {
        margin-left: 10px;
        padding: 5px; }
    footer .Redes .Redes-info {
      display: flex;
      justify-content: space-around;
      flex-direction: column; }
  footer .DerechosReservados {
    grid-column: 3 / 6; }

@media (min-width: 1025px) and (max-width: 1200px) {
  .banner-contenedor .banner-figura .banner-info {
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(9, 1fr); }
    .banner-contenedor .banner-figura .banner-info article {
      grid-column: 4 / 9;
      grid-row: 2 / 9; } }

@media (min-width: 769px) and (max-width: 1024px) {
  header nav .navbar .navbar-fondo, header nav .navbar .navbar-fondo2 {
    height: 90%; }
    header nav .navbar .navbar-fondo ul li a, header nav .navbar .navbar-fondo2 ul li a {
      font-size: 14px; }
  .navbar-fondo2 div {
    display: none; }
  .banner-contenedor .banner-figura .banner-info {
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(11, 1fr); }
    .banner-contenedor .banner-figura .banner-info article {
      grid-column: 5 / 12;
      grid-row: 3 / 12; }
      .banner-contenedor .banner-figura .banner-info article p, .banner-contenedor .banner-figura .banner-info article h1 {
        font-size: 30px; }
      .banner-contenedor .banner-figura .banner-info article .banner-informacion {
        font-size: 18px; } }

/*ORIGINALMENTE ERAN MEDIDAS PARA 481 HASTA 768. PERO DI CUENTA QUE SI LE SACABA EL MIN DE 481 ME QUEDABA BASTANTE RESPONSIVE PARA LAS MEDIDAS INFERIORES*/
@media (max-width: 768px) {
  header nav .navbar .navbar-fondo, header nav .navbar .navbar-fondo2 {
    height: 90%;
    background-position: left;
    background-size: cover; }
    header nav .navbar .navbar-fondo div, header nav .navbar .navbar-fondo2 div {
      width: 25px;
      height: 25px;
      background-image: url(../../../assets/icons/menu.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      margin-right: 20px; }
    header nav .navbar .navbar-fondo ul, header nav .navbar .navbar-fondo2 ul {
      display: none; }
  .navbar-fondo2 {
    justify-content: right; }
    .navbar-fondo2 .Nav-buscador, .navbar-fondo2 .Nav-botones {
      display: none; }
  .contenedor-informacion {
    flex-direction: column; }
  .banner-contenedor {
    height: 120vh; }
    .banner-contenedor .banner-imagen {
      width: 100%;
      background-image: url(../../../assets/images/p22.png);
      background-size: cover; }
    .banner-contenedor .banner-figura {
      width: 100%;
      height: 75%;
      bottom: 0; }
      .banner-contenedor .banner-figura .banner-info {
        background-image: url(../../../assets/images/Banner.png);
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(12, 1fr); }
        .banner-contenedor .banner-figura .banner-info article {
          grid-column: 2 / 12;
          grid-row: 6 / 12; }
          .banner-contenedor .banner-figura .banner-info article p, .banner-contenedor .banner-figura .banner-info article h1 {
            font-size: 28px; }
          .banner-contenedor .banner-figura .banner-info article .banner-informacion {
            font-size: 16px; }
          .banner-contenedor .banner-figura .banner-info article .Banner-boton button {
            padding: 10px 50px; }
  main {
    width: 100%; }
  footer p {
    font-size: 14px; }
  footer img {
    width: 30px; } }

@media (min-width: 663px) and (max-width: 768px) {
  .banner-contenedor .banner-figura .banner-info article {
    grid-column: 2 / 12;
    grid-row: 7/12 !important; } }

@media (min-width: 400px) and (max-width: 1000px) {
  .navegacion {
    width: 60%; } }

@media (max-width: 450px) {
  .banner-contenedor .banner-figura .banner-info article {
    grid-column: 2 / 12;
    grid-row: 4 / 12; }
    .banner-contenedor .banner-figura .banner-info article p, .banner-contenedor .banner-figura .banner-info article h1 {
      font-size: 25px; }
    .banner-contenedor .banner-figura .banner-info article .banner-informacion {
      font-size: 18px; }
  main {
    width: 100%; }
  .navegacion {
    width: 70%; } }

@media (min-width: 400px) and (max-width: 450px) {
  .banner-contenedor .banner-figura .banner-info article {
    grid-row: 5 / 12; }
  main {
    width: 100%; } }

.boton-1 {
  padding: 7px 15px;
  background-color: var(--primary-color);
  border: none;
  border-radius: 5px; }
  .boton-1 a {
    color: white; }
