*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #2a5390;
    --prueba1: #173c74; 
    --prueba2: #173e79; 
    --prueba3: #204680; 
    /*
    #204680
    #173e79
    #173c74
    */
}

body{
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(226,226,226,1) 110%);
    font-family: "Montserrat", sans-serif;
}
header{
    nav{
        width: 98%;
        height: 13vh;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
            .logo{
                width: 70px;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                img{
                    width: 60px; 
                }
            }
            .navbar{
                width: 60vw;
                height: 100%;
                .navbar-fondo{
                    width: 100%;
                    height: 100%;
                    background-image: url(../assets/images/Nav-Fondo.png);
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    display: flex;
                    justify-content:flex-end;
                    align-items: center;
                    ul{
                        width: 90%;
                        display: grid;
                        grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
                        grid-auto-rows: 20px;
                        gap: 5px;
                        li{
                            display: inline-block;
                            text-align: center;
                            a{
                                text-decoration: none;
                                font-size: 16px;
                                color: white;
                                padding: 1px;
                                &:hover{
                                    border-bottom: 1px solid white ;
                                }
                            }
                        }
                    }
                    /*ESTILOS PAGINA INICIO*/
                    .Nav-buscador{
                        width: 250px;
                        display: flex;
                        background-color: white;
                        padding: 5px 5px;
                        margin-right: 100px;
                        border-radius: 8px;
                        img {
                            width: 20px;
                            margin-right: 15px;
                        }
                        form{
                            input[type= "text"]{
                                width: 190px;
                                border: 0;
                                border-bottom: 1px solid var(--primary-color);
                                &:focus{
                                    outline: none;
                                    border: 1px solid var(--primary-color);  
                                }
                            }
                        }
                    }
                    .Nav-botones{
                        width: 40%;
                        .iconos{
                            width: 35px;
                            margin-right: 35px;
                        }
                    }                    
                }
            }
    }
}

main{
    width: 98%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    .banner-contenedor{
        width: 100%;
        height: 87vh;
        display: flex;
        position: relative;
        margin: 20px 0 20px 0;
        .banner-imagen{
            width: 50%;
            height: 100%;
            background-image: url(../assets/images/p1.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
        .banner-figura{
            width: 70%;
            height: 100%;
            position: absolute;
            right: 0;
            z-index: 1000;
            .banner-info{
                width: 100%;
                height: 100%;
                background-image: url(../assets/images/asd2.png);
                background-position: initial;
                background-repeat: no-repeat;
                background-size: cover;
                display: grid;
                grid-template-columns: repeat(7, 1fr);
                grid-template-rows: repeat(7, 1fr);
                article{
                    grid-column: 4 / 7;
                    grid-row: 2 / 7;
                    text-align: center;
                    p, h1{
                        font-size: 40px;
                        font-weight: 500;
                        color: white;
                        text-align: center;
                    }
                    .banner-informacion{
                        margin-top: 20px;
                        font-size: 22px;
                        color: white;
                    }
                    .Banner-boton{
                        width: 100%;
                        margin-top: 30px;
                        display: flex;
                        justify-content: center;
                        button{
                            padding: 15px 70px ;
                            border: 0px;
                            background-color: white;
                            border-radius: 15px;    
                            box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.336);
                            a{
                                text-decoration: none;
                                font-size: 30px;
                                font-weight: bold;
                                color: var(--primary-color);
                            }
                            &:hover{
                                scale: 1.1;
                            }
                        }
                    }
                }                
            }
        }
    }
    .QuienesSomos{
        width: 97%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
        article{
            width: 70%;
            font-size: 20px;
            font-weight: 500;
        }
    }
     /*ESTILOS INICIO*/
     .Seleccionado{
        border-bottom: 2px solid white;
    }

    .navegacion{
        width: 35%;
        height: 50px;
        background-color: var(--primary-color);
        position: fixed;
        z-index: 1000;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        margin-bottom: 7px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        border-radius: 15px;
        div{
            width: 40px;
            height: 40px;
            text-align: center;
            img{
                width: 35px;
            }
        }
    }

    .Contenedor{
        width: 90%;
        margin: 0 auto;
        display: grid;
        margin-top: 20px;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        row-gap: 30px;
        .tarjeta{
            width: 90%;
            background-color: white;
            margin: 0 auto;
            margin-bottom: 20px;
            border-radius: 15px;
            box-shadow: 5px 5px 13px rgba(0, 0, 0, 0.507);
            .tarjeta-infoUsuario{
                width: 90%;
                height: 50px;
                margin: 0 auto; 
                display: flex;
                align-items: center;   
                .usuario-foto{
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    overflow: hidden;
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
                .usuario-info{
                    width: 70%;
                    height: 40px;
                    margin: 10px;
                    p:first-child{
                        font-weight: 600;
                        color: var(--primary-color);
                    }
                    p:last-child{
                        font-size: 12px;
                        color: grey;
                    }
                }
            }
            .tarjeta-imagen{
                width: 100%;
                height: 350px;
                margin: 0 auto;
                border-radius: 0 0 15px 15px;
                overflow: hidden;
                img{
                    width: 100%; 
                }
            }
            .tarjeta-informacion{
                width: 90%;
                height: 60px;
                margin: 0 auto;
                margin-top: 5px;
                p{
                    font-size: 14px;
                }
            }

            .botones{
                width: 90%;
                height: 45px;
                margin: 0 auto;
                margin-top: 5px;
                display: flex;
                align-items: center;
                justify-content: space-around;
                button{
                    padding: 7px 15px;
                    background-color: var(--primary-color);
                    border: none;
                    border-radius: 5px;
                    a{
                        text-decoration: none;
                        color: white;
                    }
                }
                .botones-iconos{
                    margin-left: 5px;   
                    img{
                        width: 30px;
                        margin: 5px;
                    } 
                }
            }

            .barra{
                border-bottom: 2px solid lightgrey; 
            }
            
            .noBarra{
                border-bottom: none !important;
            }

            .a { grid-column: 1 / 2; grid-row: 1 / 2; }
            .b { grid-column: 2 / 3; grid-row: 1 / 2; }
            .c { grid-column: 3 / 4; grid-row: 1 / 2; }
            .d { grid-column: 1 / 2; grid-row: 2 / 3; }
            .e { grid-column: 2 / 3; grid-row: 2 / 3; }
            .f { grid-column: 3 / 4; grid-row: 2 / 3; }

            .seguir{
                width: 20% !important;
            }
            /*ESTILOS REFUGIOS*/
            
            .tarjeta-imagenesContenedor{
                width: 90%;
                margin: 0 auto;
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: repeat(2, 1fr);
                gap: 10px;
                padding-top: 10px;
                padding-bottom: 15px;
                div{
                    width: 150px;
                    height: 150px;
                    margin: 0 auto;
                    overflow: hidden;
                    img{
                        width: 100%;
                    }
                }
            }

            /*ESTILOS VISTA*/
            .tarjeta-publicaciones{
                width: 90%;
                max-width: 1100px;
                margin: 40px auto;
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
                grid-auto-rows: 280px;
                gap: 20px;
                div{
                    overflow: hidden;
                    img{
                        width: 100%;
                    }
                }
            }
        }
    }

}

.tama単oDisminuido p{
    font-size: 20px;
}

.tama単oDisminuido .botones{
    display: inline-block;
    margin-left: 20px;
}

.ajuste{
    width: 10% !important;
}

.ajuste .botones-iconos{
    display: flex;    
}

.unaColumna .tarjeta-informacion{
    border-bottom: 2px solid lightgrey; 
}

.tama単oDisminuido div{
    display: inline-flex;
    flex-direction: column;
}

.fotoGrande{
    width: 120px !important;
    height: 120px !important;
}

.tama単oAumentado{
    height: 150px !important;
}

.unaColumna{
    display: flex !important;
}

.dosColumnas{
    grid-template-columns: repeat(2, 1fr) !important; 
    grid-template-rows: repeat(1, 1fr) !important; 
}


footer{
    width: 98%;
    height: 25vh;
    background-color: var(--primary-color);
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: center;
    align-items: center;
    position: sticky;
    z-index: 2000;
    .Redes{
        width: 250px;
        grid-column: 1 / 3;
        display: flex;
        .Redes-iconos{
            display: flex;
            flex-direction: column;
            img{
                margin-left: 10px;
                padding: 5px;
            }
        }
        .Redes-info{
            display: flex;
            justify-content: space-around;
            flex-direction: column;
            p{
                color: white;
            }
        }
    }
    .DerechosReservados{
        grid-column: 3 / 6;
        p{
            color: white;
        }
    }
}

@media (max-width:650px){

    main{
        height: 290vh;
        .banner-contenedor{
            flex-direction: column; 
            .banner-imagen{
                width: 100%;
                height: 55%;
            }
            .banner-figura{
                width: 100%;
                height: 85%;
                bottom: 0;
                .banner-info{
                    background-image: url(../assets/images/Banner.png);
                    grid-template-columns: repeat(5, 1fr);
                    grid-template-rows: repeat(5, 1fr);
                    article{
                        grid-column: 2 / 5;
                        grid-row: 3 / 5;
                    }
                }
            }
        }
    }
}